*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(14,62,62,1) 70%, rgba(11,65,65,1) 77%, rgba(11,65,65,1) 100%);
}

.header {
  position: absolute;
  top: 0;
  display:flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

.header .logo {
  width: 70px;
  border-radius: 90%;
}

.header nav {
  display:flex;
  align-items: center;
  gap: 20px;
}

.header nav a {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  border-radius: 70px;
  padding: 7px 12px;
  transition: .5s;
  background-color: var(--bg-btn);
  transition: .5s all ease-in-out
}

.header nav a:hover {
  transform: scale(1.05);
  text-shadow: 2px 4px 4px rgba(0,0,0,0.55);
}

.container {
  display: flex;
  margin: 0 auto;
  width: 400px;
  min-width: 320px;
  height: 550px;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 10px;
  border-top: 2px solid #0b3e3e;
  box-shadow: rgba(9, 9, 9, 0.2) 0px 60px 40px -7px;
  position: absolute;
}

.container > .content {
  margin: 0 auto;
}

.content > header {
  display:flex;
  margin-left: 10px;
  margin-right: 10px;
  gap: 5px;
  width: 302px;
  height: 56px;
}

header > img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  background-color: #cccf0f;
  border-radius: 90%;
}

header > h1{
  font-size: 22px;
  letter-spacing: 6%;
  color: #fff;
  text-align: justify;
}

.content > .form {
  margin-top: 50px;
  width: 302px;
  margin-left: 10px;
  margin-bottom: 23px;
}

.form > form {
  display: flex;
  flex-direction: column;
}

#form > label {
  color: #fff;
  font-size: 16px;
  margin-bottom: 6px;  
  width: 320px;
}

form > input{
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccf0f;
  outline: none;
  color: #fff;
  margin-bottom: 26px;
}

.btns {
  display:flex;
  justify-content: space-between;
}

form > div > a{
  width: 45%;
  background-color: #cccf0f;
  margin-top: 10px;
  color: #000;
  border:none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}

form >  div > a:hover{
  background-color: #a9ac08;
}

.resultado{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 302px;
  background-color: #cccf0f;
  color: #000;
  padding: 14px 23px;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  border: 0px solid transparent;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 45%;
  right: 12.2%;
  z-index: 1;

}

.resultado span{
  font-size: 20px;
  letter-spacing: 6%;
}

.resultado #mediaFinal{
  font-size: 36px;
}

.resultado p{
  font-size: 16px;
}

.oculto{
  display: none;
}

.footer > p{
  color: #ffffff3a;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 10px;
} 

p > a {
  text-decoration: none;
  color: #fff;
}